/* general */

body {
	background-color: #fff;
	font-family: "Proxima-nova", sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #1f1f1f;
}

.before-load {
	opacity: 0;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	will-change: opacity;
}

.after-load {
	will-change: opacity;
	opacity: 1;
	-webkit-transition: all 1.5s ease 0.2s;
	-moz-transition: all 1.5s ease 0.2s;
	-ms-transition: all 1.5s ease 0.2s;
	-o-transition: all 1.5s ease 0.2s;
	transition: all 1.5s ease 0.2s;
}

.push {
	opacity: 0;
	-webkit-transform: translate(0px, 50px);
	transform: translate(0px, 50px);
}

.wrapper {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 1200px;
	margin: 0 auto;
}

.green-pink {
	background-image: linear-gradient(135deg, rgb(255, 225, 234)  0%, rgb(110, 138, 119) 100%);
}

.green-blue{
	background-image: linear-gradient(135deg, rgb(185, 214, 190) 0%, rgb(84, 104, 175) 100%) ;
}

.purple-yellow {
	background-image: linear-gradient(135deg, rgb(171, 101, 165) 0%, rgb(249, 220, 204) 100%);
}

.blue {
	background-image: linear-gradient(135deg, #4D74FC 0%, rgb(203, 210, 232) 100%);
}
.black {
	background-color: #0c0e10;
}
p {
	font-family: "baskerville-urw";
	font-style: italic;
	font-size: 2.5rem;
	line-height: 1.5;
	-moz-osx-font-smoothing: grayscale;
}

.non-italic-p {
	font-style: normal;
	line-height: 1rem;
	font-size: 2rem;
}

#intro p {
    line-height: 1.2;
}

#typedtext {
	display: -webkit-inline-box;
	font-family: "baskerville";
	font-size: 4rem;
	font-weight: 400;
	min-height: 100px;
}


.typed-cursor{
        opacity: 1;
        font-weight: 100;
        -webkit-animation: blink 1s infinite;
        -moz-animation: blink 1s infinite;
        -ms-animation: blink 1s infinite;
        -o-animation: blink 1s infinite;
        animation: blink 1s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }


h3 {
    font-family: "Open sans", sans-serif;
    font-weight: 300;
    font-style: inherit;
    font-size: 1.7rem;
    line-height: 1.4;
    margin-top: 5px;
}

h4 {
	font-size: 2rem;
	font-weight: 300;
}

.container-fluid {
	height: 100vh;
	max-width: 1200px;
}

.inline {
	display: -webkit-inline-box;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
}

.middle-text {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);

}

.smaller-text-width {
	max-width: 700px;
	line-height: 1.5;
}

.upper-text {
	font-family: Proxima-nova, sans-serif;
	padding-top: 50px;
	text-transform: uppercase;
	font-size: 3rem;
	font-style: initial;
    font-weight: 500;
	text-align: right;
	margin-bottom: 30px;
}

#logo {
	padding-top: 30vh;
	text-align: center;
  height: inherit !important;
}

#short2 .upper-text {
	margin-bottom: 0px;
	font-size: 2rem;
	padding-top: 30px;
}

.boxed-color-text-floral {
	color: #3c2424;
	background-color: floralwhite;
  line-height: 1.4;
  box-shadow: 10px 0 0 floralwhite, -10px 0 0 floralwhite;
}

.boxed-color-text-cyan {
	color: ghostwhite;
	background-color: darkcyan;
  line-height: 1.4;
	box-shadow: 10px 0 0 darkcyan, -10px 0 0 darkcyan;
}

.boxed-color-text-white {
	color: darkslategray;
	background-color: #fff;
  line-height: 1.4;
	box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

.package-text {
	padding-top: 50px;
	font-size: 3.2rem;
    font-weight: 800;
	text-align: left;
	margin-bottom: 5px;
	color: #1F1F1F;
}

.col-md-3 .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.col-md-4 .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

#short2 .package-text {
font-size: 1.5em;
}

.left-aligned {
	text-align: left!important;
}

.boxed-text {
/*    font-size: 1.2em;*/
/*	border: 2px solid #eb763f;*/
	padding: 20px;
    margin: 0 0 0 auto;
    max-width: 370px;
}


/* arrows */

.four {
	font-size: 14px;
}

.arrow {
	width: 50px;
	opacity: 1;
	cursor: pointer;
}

.arrow:hover {
	opacity: 0.5;
}

.leftarrow {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
}

.rightarrow {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}




/* carousel style */

.carousel {
	cursor: pointer;
}

.carousel-control.no-gradient {
	background-image: none;
}

.carousel-indicators li {
	height: 20px !important;
	width: 20px !important;
	margin-right: 5px !important;
	border-radius: 30px;
	opacity: 0.9;
}


/* all the page-elements */


/* first */

.center {
	text-align: center;
}
#first {
	display: none;
	background-color: #fff;
}

#yuri-logo {
	text-align: center;
  transform: translateY(14%);
  -ms-transform: translateY(14%);
	-webkit-transform: translateY(14%);
	-moz-transform: translateY(14%);
	-o-transform: translateY(14%);
}

.nav-container {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin-top: 15px;
	padding-left: 10px;
}

.navbar-toggle {
	float: left;
	margin-left: 15px;
}

#contact {
	max-height: 80vh;
	background-color: #fefefe;
}

#intro {
	padding-top: 80px;
	height: inherit;
	margin-top: 90px;
	background-color: #0c0e10;
	padding-bottom: 70px;
	color: white;
}

.intro-headline {
	font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  padding-bottom: 12px;
}

#intro-text .upper-text {
	padding: 20px;
	padding-left: 110px;
  margin: 0 0 0 auto;
}

h1 {
  font-size: 14rem;
	letter-spacing: 1.6;
	font-weight: 500;
	line-height: 0.9;
}

#yuri-logo p {
    margin-top: 15px;
    font-size: 2.7rem;
}

#structure {
	margin-left: 5px;
	max-width: 110px;
	width: 70%;
	margin-top: 20px;
}


/* innovation */

#short {
	color: #ffffff;
	position: relative;
	background-image: url('images/nasa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(218, 200, 200, 0.6);

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-font-smoothing: antialiased;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(0);
}

#short h2 {
	color: white;
}

h2 {
	margin-left: -10px;
	font-size: 7rem;
	letter-spacing: 1.6;
	font-weight: 700;
	line-height: 1.5;
}

#short2 {
	background-color: #EFEFEF;
	position: relative;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.2);
}



/* offers */

#offers {
	/*background-image: url('images/blue.png');*/
	background-color: #4D74FC;
	position: relative;
}

#offers h2 {
		color: ghostwhite !important;
}

#offer1 {
	position: relative;
	/*background-color: #4D74FC;*/
	color: ghostwhite;
	padding-bottom: 100px;
}

#offerrow {
	padding-top: 50px;
}
#offer1 .upper-text {
	font-size: 2.8rem;
    font-weight: 600;
}


/* us */

#us {
	background-color: #f1f1f1;
}

.photorow {
	margin-top: 50px;
}
.us {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 200px;
	height: 200px;
	border-radius: 100px;
}



/* footer */

#footer {
	color: white;
	background-color: black;
	max-height: 250px;
  padding-bottom: 25px;
	line-height: 1.4;
}

#footer .row {
	margin-left: 5px;
	color: white;
}

#footer .row h3 {
	color: #f1f1f1;
	font-family: "Proxima nova", sans-serif;
}

/* mobile view */

@media screen and (max-width: 500px) {

	h1 {
		font-size: 6rem !important;
	}

	h2 {
		font-size: 4rem;
		line-height: 1;
    margin-bottom: 25px;
	}

	p {
		font-size: 2rem !important;
	}
#logo {
	padding-top: 15vh;
}

#typedtext {
	display: inline-block;
	font-size: 3rem;
	padding-top: 80px;
	min-height: 250px;
}

#typedtext .startertext {
	display: -webkit-box;
}

	#intro {
		margin-top: 0px;
	}

	.upper-text {
		padding-left: 0px;
		padding-right: 0px;
	}

	.boxed-text {
		padding: 10px 0px 10px;
	}
	.container-fluid {
		padding-bottom: 70px;
    padding-top: 40px;
    height: 100%;
	}

	.wrapper {
		margin-left: 15px;
		margin-right: 15px;
	}

	.arrow {
		width: 30px;
	}

	#footer {
		min-height: 200px;
	}

	.middle-text {
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
	}

	.container-fluid {
		min-height: 320px;
	}
}

/* bootstrap tablet layout breakpoint */
@media screen and (max-width: 992px) {

	#intro-text .upper-text {
		padding-left: 0px;
		padding-right: 0px;
	}


	#intro-text {
		border-left: none;
	}

	#structure {
    width: 60%;
		max-width: 10vh;
	}

	#first {
		margin-top: 50px;
	}

	.carousel-indicators {
		display: none;
	}

	#short2, #offer1 {
		height: 100%;
    	padding-bottom: 120px;
	}


    .package-text {
    	padding-top: 10px;
    }


	.leftarrow {
		left: 10px;
    	bottom: 25px;
    	transform: none;
    	top: inherit;
	}

	.rightarrow {
		right: 10px;
    	bottom: 25px;
    	transform: none;
    	top: inherit;
	}

	#yuri-logo {
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
	}

	.logo {
		font-size: 14rem;
	}

	.display-web {
		display: none;
	}

	.upper-text {
		text-align: center;
		margin-top: 10px;
	    margin-bottom: 30px;
	}

	.boxed-text {
		max-width: none;
	}

	#offer1 {
		min-height: 900px;
	}

	.container.middle-text.expand {
    	transform: none;
		transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
	    top: 20px;
	    clear: both;
	}
}

@media screen and (min-width: 992px) {

	.display-mobile {
		display: none;
	}

	.container-fluid {
		max-height: 600px;
	}

}

/* when navbar collapses */
@media screen and (max-width: 767px) {

	.navbar {
		top: 0px !important;
		padding: 0px !important;
	}

/* keeping the dropdown part aligned with other li elements */
	.a {
	padding-left: 15px;
	}

	.yuriblue {
	background-color: #fff !important;
	opacity: 1;
	}

	.whitetext {
		color: #777 !important;
	}

}
